
body{
  border: 2px solid black;
  background-image: url("https://assets.elgourmet.com/wp-content/uploads/2023/03/pizza_Mh3H4eanyBKEsStv1YclPWTf9OUqIi.png");
  background-size: contain;
  margin: 0;
  padding: 0;
  border: 2px solid orange;
}

h1 {
    text-align: center;
    margin-top: 50px;

  }
  
  form {
    background-color:orange;
    width: 70vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    margin-bottom: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color: rebeccapurple;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 20px;
      border: 2px solid black;
      margin: 15px;
      background-color: orange;
    }
    
    form {
      width: 70%;
      font-size: 15px;
    }
  }
  .chisContainer{
    background-color: black;
    padding: 5px;
  }
  .titChis{
    color: orange;
    text-align: center;
  
  }
  .chiste {
    font-size: 20px;
    font-style: italic;
    color: orange;
    text-align: center;
  }