@keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ampliacion {
  from {
    right: 100%;
    width: 200%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#body {
  border: 2px solid orange;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.section1 {
  background-color: black;
}
.titulo {
  color: orange;
  border: 2px solid whitesmoke;
  background-color: black;
  height: auto;
  margin: 0;
  padding: 0;
}
.subt {
  color: aliceblue;
}

.logo {
  width: 150px;
  height: 150px;
  animation-name: aparicion;
  animation-duration: 2s;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border: 2px solid orange;
}
.link {
  color: orange;
  text-decoration: none;
  margin: 5vh;
  font-weight: 900;
  font-size: 20px;
}
.Banner {
  padding: 10px;
  background-color: orange;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: 7px dotted black;
  animation-name: aparicion;
  animation-duration: 2s;
}
#butbanner {
  color: orange;
  background-color: black;
  margin: 1%;
  width: 70px;
  height: 30px;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 25px;
  border: 7px double orange;
}
.principal {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
}
.sect0 {
  background-color: black;
}
.sect1 {
  background-color: black;
  color: aliceblue;
  text-align: center;
  background-image: url("https://us.123rf.com/450wm/altitudevisual/altitudevisual2212/altitudevisual221206329/195283845-hermosa-deliciosa-pizza-con-salsa-de-tomate-y-verduras-sobre-fondo-negro.jpg?ver=6");
  background-size: cover;
}
.sect2 {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2%;
  background-image: url("https://static9.depositphotos.com/1672917/1142/i/950/depositphotos_11429271-stock-photo-pizza-oven.jpg");
  background-size: cover;
}
.imgpizz {
  border: 2px solid black;
  box-shadow: 2px 2px 2px;
  width: 90%;
  max-width: 250px;
  max-height: 190;
  margin: 2px;
  animation-name: ampliacion;
  animation-duration: 3s;
  transform: rotate(2deg);
  animation-name: aparicion;
  animation-duration: 2s;
}
.imgsec1 {
  border-radius: 50%;
  margin: 18px;
  -webkit-animation: 5s rotate linear infinite;
  animation: 5s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.foot {
  background-color: black;
  border: 7px double orange;
}

marquee {
  color: orange;
}
.derechos {
  color: orange;
}
footer .pie {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-top: 1cm;
  margin-bottom: 1cm;
  color: orange;
}
footer .pie a:hover {
  text-shadow: 3px 3px 3px orange;
}

footer a:hover {
  text-shadow: 7px 7px 3px red;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .header {
    align-items: center;
  }

  .link {
    margin: 2vh;
    font-size: 16px;
  }

  .Banner {
    font-size: 16px;
  }

  #butbanner {
    width: 60px;
    height: 30px;
  }

  .titulo {
    font-size: 25px;
  }

  .principal {
    grid-template-columns: 100%;
    gap: 10px;
  }

  .imgpizz {
    max-width: 40%;
    max-height: 1200px;
    margin: 5px;
  }

  .imgsec1 {
    margin: 10px;
    -webkit-animation: none;
    animation: none;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  footer .pie {
    font-size: 20px;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
  }

  marquee {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80px;
    height: 80px;
  }

  .link {
    margin: 1vh;
    font-size: 14px;
  }

  .Banner {
    font-size: 10px;
  }

  #butbanner {
    width: 60px;
    height: 30px;
  }

  .titulo {
    font-size: 15px;
  }

  .imgpizz {
    max-width: 50%;
    max-height: 100px;
    margin: 5px;
  }

  .principal {
    height: auto;
    grid-template-columns: 100%;
    gap: 5px;
  }

  .imgsec1 {
    margin: 5px;
  }

  footer .pie {
    font-size: 16px;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
  }

  marquee {
    font-size: 16px;
  }
}
