#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: orange;
  padding: 15px;
  background-image: url("https://images.hola.com/imagenes/cocina/recetas/20200120158493/pizza-casera-vegetal/0-770-783/pizza-vegetariana-t.jpg?tx=w_680");
  background-size: contain;
}

.producto {
  width: 300px;
  border: 1px solid whitesmoke;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: black;
  color: orange;
}

.producto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  padding: 5px;
  border: 1px solid whitesmoke;
  margin-top: 7px;
  transition: transform 0.3s ease-in-out;
}

.producto img:hover {
  transform: scale(1.1);
}

.producto h3 {
  margin: 10px;
}

.producto p {
  margin: 5px;
  font-weight: bold;
}
