@keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ampliacion {
  from {
    right: 100%;
    width: 200%;
  }
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}

@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

#body{
border: 2px solid black;
}
.section1{
    background-color: black;
}
.titulo {
  color: orange;
  border: 2px solid whitesmoke;
  background-color: black;
  height: auto;
  margin: 0;
  padding: 0;
}
.subt{
    color: aliceblue;
}

.logo {
  width: 150px;
  height: 150px;
  animation-name: aparicion;
animation-duration: 2s;

}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  
}
.link {
  color: orange;
  text-decoration: none;
  margin: 5vh;
  font-weight: 900;
  font-size: 20px;
}
.Banner {
  padding: 10px;
  background-color: orange;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: 7px dotted black;
  animation-name: aparicion;
  animation-duration: 2s;
}
#butbanner {
  color: orange;
  background-color: black;
  margin: 1%;
}
.butbanner:hover {
  width: 100px;
}
.titulo {
  display: flex;
  justify-content: center;
  font-size: 35px;
  border: 7px double orange;
  
}
.principal {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
}
.sect0{
  background-color: black;
}
.sect1 {
  background-color: black;
  color: aliceblue;
  text-align: center;
}
.sect2 {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2%;
}
.imgpizz{
border: 2px solid black;
box-shadow: 2px 2px 2px;
width: 90%;
max-width: 250px;
max-height: 190;
margin: 2px;
animation-name: ampliacion;
animation-duration: 3s;
transform: rotate(2deg);
animation-name: aparicion;
animation-duration: 2s;

}
.imgsec1{
  border-radius: 50%;
  margin: 18px;
  -webkit-animation: 5s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
}
.foot{
  background-color: black;
  border: 7px double orange;
}

marquee{
  color: orange;
}
.derechos{
  color: orange;
}
footer .pie {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-top: 1cm;
  margin-bottom: 1cm;
  color: orange;
}
footer .pie a:hover {
  text-shadow: 3px 3px 3px orange;
}

footer a:hover {
  text-shadow: 7px 7px 3px red;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: orange;
 
}

.producto {
  width: 300px;
  border: 1px solid whitesmoke;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: black;
  color: orange;
}

.producto img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  padding: 5px;
  border: 1px solid whitesmoke;
  margin-top: 7px;
}

.producto h3 {
  margin: 10px;
}

.producto p {
  margin: 5px;
  font-weight: bold;
}
